@model IQueryable<DAL.GetAgroProducts_Result>

@{
	ViewBag.Title = "Products";
}

<h2>Product</h2>

<table border="1">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Product
			</th>
			<th>
				Category
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var products in @Model)
		{
			<tr>
				<td>@products.product_name</td>
				<td>@products.price</td>
				<td>@products.commodity_name</td>
				<td>@products.category_name</td>
			</tr>
		}
	</tbody>
</table>